.container div:nth-child(5) {
    max-width: 40vw;
    margin: auto;
}

.container h4 {
    text-align: center;
    background-color: #2c3e50;
    color: #ffdd59;
    padding: 10px 0;
    margin-bottom: 30px;
}