.container {
    margin: 40px;
    border: double;

}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 150px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    font-size: 14px;
}

td:hover {
    cursor: pointer;
}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    top: 30px;
}

.pageLink {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: double;

    &:hover {
        background-color: #ddd;
        color: black;
    }
}

.active button {
    background-color: #007bff;
    color: #fff;
}