.container {
    height: 80vh;
    background-color: rgb(224, 218, 218);
    border: double rgb(43, 42, 42);
    padding: 30px 0;
}

.paragraph,
p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 20%;
    padding-right: 20%;

}

p {
    text-decoration: dotted;
}

.container img {
    border-radius: 30px;
    max-width: 50vw;
}

.advertisement {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.container h3 {
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.container h3::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #f9d134;
}

.container p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    position: relative;
}

.container strong {
    color: #dbbb39;
}

.container p::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #9933ff;
}